<div class="d-flex " id="wrapper">
  <!-- Sidebar -->
  <div class="" id="sidebar-wrapper">
    <div class="sidebar-heading"></div>
    <ul class="list-group list-group-flush ">
      <li class="nav-item avatar" style="justify-content: center;">
        <a class="nav-link" style="color: black;">
          <div class="circle">
            <p>{{initials}}</p> 
          </div>
        </a>
        <!-- <li class="nav-list" data-tooltip="Inicio" data-tooltip-location="right">
        <a class="list-group-item">
          <i class="fas fa-home slim-nav-item"></i>
        </a>
      </li> -->
      </li>

      <li class="nav-list" data-tooltip="Inicio" data-tooltip-location="right">
        <a routerLink="../dashboard" class="list-group-item">
          <i class="fas fa-home slim-nav-item"></i>
        </a>
      </li>
      <li
        class="nav-list"
        data-tooltip="Estadísticas"
        data-tooltip-location="right"
      >
        <a routerLink="statistics/" class="list-group-item">
          <i class="far fa-chart-bar slim-nav-item"></i>
        </a>
      </li>
      <li *ngIf="checkUserPrivileges('ADMIN_READ_PRIVILEGE')"
      class="nav-list"
      data-tooltip="Cadena de contagio "
      data-tooltip-location="right"
    >
      <a routerLink="infection-tree/" class="list-group-item">
        <i class="fas fa-link slim-nav-item"></i>
      </a>
    </li>
      <li *ngIf="checkUserPrivileges('ACTUALIZAR_ESTADO_SALUD')"
        class="nav-list"
        data-tooltip="Registro Médico Usuario"
        data-tooltip-location="right"
      >
        <a routerLink="covid-test/" class="list-group-item">
          <i class="fas fa-hospital-user slim-nav-item"></i>
        </a>
      </li>
      <li
        class="nav-list"
        data-tooltip="Ubicación de Nodos"
        data-tooltip-location="right"
      >
        <a routerLink="location-nodes/" class="list-group-item">
          <i class="fas fa-store slim-nav-item"></i>
        </a>
      </li>
      <li *ngIf="checkUserPrivileges('ADMIN_WRITE_PRIVILEGE')"
        class="nav-list"
        data-tooltip="Registro de Usuario"
        data-tooltip-location="right"
      >
        <a routerLink="register-user/" class="list-group-item">
          <i class="fas fa-user-plus slim-nav-item"></i>
        </a>
      </li>
      <li *ngIf="checkUserPrivileges('ADMIN_WRITE_PRIVILEGE')"
        class="nav-list"
        data-tooltip="Lista de Usuarios Administradores"
        data-tooltip-location="right"
      >
        <a routerLink="users/" class="list-group-item">
          <i class="fas fa-user-shield slim-nav-item"></i>
        </a>
      </li>
     
      <li *ngIf="checkUserPrivileges('ADMIN_WRITE_PRIVILEGE')"
        class="nav-list"
        data-tooltip="Registro de Nodo"
        data-tooltip-location="right"
      >
        <a routerLink="register-node/" class="list-group-item">
          <i class="fas fa-cube slim-nav-item"></i>
        </a>
      </li>
      <li *ngIf="checkUserPrivileges('ADMIN_WRITE_PRIVILEGE')"
        class="nav-list"
        data-tooltip="Registro de localidad"
        data-tooltip-location="right"
      >
        <a routerLink="locality/" class="list-group-item">
          <i class="fas fa-map-marked-alt slim-nav-item"></i>
        </a>
      </li>
      <li *ngIf="checkUserPrivileges('ADMIN_WRITE_PRIVILEGE')"
        class="nav-list"
        data-tooltip="Asignación de usuarios a instituciones de salud"
        data-tooltip-location="right"
      >
        <a routerLink="locality/users/" class="list-group-item">
          <i class="fas fa-hospital-user slim-nav-item"></i>
        </a>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg" style="background-color: white;">
      <button class="btn neumorphism-button" id="menu-toggle">
        <i class="fas fa-bars" style="color: gray;"></i>
      </button>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mr-3 mt-2">
            <button
              type="button"
              class="btn btn-ligth"
              style="background-color: white; border-radius: 25px;"
            >
              <i class="far fa-bell" style="color: rgb(240, 36, 36);"></i>
            </button>
          </li>
          <li class="nav-item avatar dropdown mr-5 mt-2">
            <a
              class="nav-link dropdown-toggle"
              id="navbarDropdownMenuLink-55"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              style="color: black;"
            >
               <img
                src="https://img.icons8.com/flat_round/64/000000/protection-mask.png"
                class="rounded-circle z-depth-0"
                alt="avatar image"
              />
              {{ username }}
            </a>
            <div
              class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
              aria-labelledby="navbarDropdownMenuLink-55"
            >
              <a class="dropdown-item" (click)="logOut()"
                >Salir<i class="fas fa-sign-out-alt ml-2"></i
              ></a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <div class="my-3 my-md-5">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
