 <!-- Navigation -->

 <nav class="navbar navbar-expand-lg" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="../../../assets/img/logo.png" alt="" style="width: 40px; height: 40px;"/> CCTS</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#download">Descargar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#features">Como funciona</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" routerLink="auth/login">Iniciar sesion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" routerLink="register">Registrarse</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-lg-7 my-auto">
          <div class="header-content mx-auto">
            <h1 class="mb-5 background-text">CCTS es una solución que ayudara a los ciudadanos en la prevención de contagios del Covid-19</h1>
            <a href="#download" class="btn btn-outline btn-xl js-scroll-trigger">Descarga la app gratis!</a>
          </div>
        </div>
        <div class="col-lg-5 my-auto">
          <div class="device-container">
            <div class="device-mockup iphone6_plus portrait white">
              <div class="device">
                <!-- <img src="../../../assets/device-mockups/iphone_6_plus/iphone_6_plus_white_port.png" alt=""> -->
                <div class="screen">
                  <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                  <img src="assets/img/home-screen.png" class="img-fluid" alt="">
                </div>
                <div class="button">
                  <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="download bg-primary text-center" id="download">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <h2 class="section-heading">Proximamente podras descargar gratis!</h2>
          <p>¡Nuestra aplicación está disponible en cualquier dispositivo móvil! ¡Descárguelo ahora para comenzar!</p>
          <div class="badges">
            <a class="badge-link" href="#"><img src="assets/img/google-play-badge.svg" alt=""></a>
            <a class="badge-link" href="#"><img src="assets/img/app-store-badge.svg" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="features" id="features">
    <div class="container">
      <div class="section-heading text-center">
        <h2>Funcionamiento del CCTS</h2>
        <p class="text-muted">Conoce como funciona esta grandiosa app!</p>
        <hr>
      </div>
      <div class="row">
        <div class="col-lg-4 my-auto">
          <div class="device-container">
            <div class="device-mockup iphone6_plus portrait white">
              <div class="device">
                <div class="screen">
                  <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                  <img src="assets/img/home-screen.png" class="img-fluid" alt="">
                </div>
                <div class="button">
                  <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8 my-auto">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-6">
                <div class="feature-item">
                   <i class="fab fa-bluetooth-b fa-4x" style="color: blue;"></i>
                  <h3>Inicio de aplicacion</h3>
                  <p class="text-muted">Descarga la aplicacion CCTS, completa el formulario de registro y aceptar los requisitos de la aplicacion!</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="far fa-building" style="color: red;"></i>
                  <h3>Dirigirse a una localidad</h3>
                  <p class="text-muted">Al dirigirse a una localidad que implemente el CCTS, automaticamente se generara un registro de su visita!</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="fab fa-linode" style="color: rgb(36, 190, 57);"></i>
                  <h3>Analisis de posibles contagios</h3>
                  <p class="text-muted">El sistema podra correlacionar la data recibida por los nodos para poder notificar sobre un posible contagio!</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="far fa-bell" style="color: rgb(230, 190, 15);"></i> 
                  <h3>Notificación a usuarios</h3>
                  <p class="text-muted">Los usuarios que tengan la probabilidad de estar contagiados seran notificados a traves de la aplicacion movil CCTS</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <p>&copy; Your Website 2020. All Rights Reserved.</p>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="#">Privacy</a>
        </li>
        <li class="list-inline-item">
          <a href="#">Terms</a>
        </li>
        <li class="list-inline-item">
          <a href="#">FAQ</a>
        </li>
      </ul>
    </div>
  </footer>