<div class="container-fluid min-vh-100">
  <div class="d-flex align-items-center min-vh-100">
    <div class="sign-in shadow-lg">
      <!-- Default form login -->
      <form
        class="text-center border border-light p-5"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <p class="h4 mb-4">Sign in</p>

        <!-- Email -->
        <input
          type="text"
          id="defaultLoginFormEmail"
          class="form-control mb-4"
          placeholder="nombre de usuario"
          name="username"
          [(ngModel)]="form.username"
          required
          #username="ngModel"
        />

        <!-- Password -->
        <input
          type="password"
          id="defaultLoginFormPassword"
          class="form-control mb-4"
          placeholder="contraseña"
          name="password"
          [(ngModel)]="form.password"
          required
          #password="ngModel"
        />

        <div class="d-flex justify-content-center">
          <div>
            <!-- Remember me -->
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="defaultLoginFormRemember"
              />
              <label class="custom-control-label" for="defaultLoginFormRemember"
                >Recordarme</label
              >
            </div>
          </div>
          <div>
            <!-- Forgot password -->
          </div>
        </div>
        <a href="">Has olvidado tu contraseña?</a>

        <!-- Sign in button -->
        <button class="btn btn-info btn-block my-4" type="submit">
          Entrar
        </button>
      </form>
      <!-- Default form login -->
    </div>
  </div>
</div>
