<div class="container h-100 w-50 my-auto mr-auto">
  <div class="card" style="margin-top: 180px;">
    <div class="card-body text-center">
      <h5 class="card-title">
        Su requerimiento ha sido completado exitosamente
      </h5>
      <div class="text-center">
        <i
          class="fas fa-check fa-10x mb-3"
          style="color: rgb(26, 175, 12);"
        ></i>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit
          iusto nulla aperiam blanditiis ad consequatur in dolores culpa,
          dignissimos, eius non possimus fugiat. Esse ratione fuga, enim, ab
          officiis totam.
        </p>
      </div>
    </div>
  </div>
</div>
