<div class="container h-100 w-50 my-auto mr-auto">
  <div class="card">
    <div class="card-body text-center">
      <h5 class="card-title">Panel title</h5>
      <div class="text-center">
        <i class="fas fa-check fa-4x mb-3" style="color: rgb(29, 212, 29);"></i>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit
          iusto nulla aperiam blanditiis ad consequatur in dolores culpa,
          dignissimos, eius non possimus fugiat. Esse ratione fuga, enim, ab
          officiis totam.
        </p>
      </div>
    </div>
  </div>
</div>
