<div class="container">
  <div class="page-header">
    <h1 class="page-title">
      Listado de usuarios administradores del sistema
    </h1>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <table class="table card-table table-vcenter">
          <tr>
            <th class="w-1">ID *</th>
            <!-- <th class="d-none d-sm-table-cell">Nombre Completo</th> -->
            <th class="w-1">Nombre de usuario</th>
            <th class="d-none d-sm-table-cell">Autenticado</th>
            <th class="d-none d-sm-table-cell">Privilegios</th>
            <th class="d-none d-sm-table-cell">Modificar Privilegios</th>
          </tr>
          <tr *ngFor="let user of personCredential">
            <th>
              {{ user.id }}
            </th>
            <!-- <td class="d-none d-sm-table-cell">{{ user.name }}</td> -->
            <td>{{ user.userName }}</td>
            <td class="d-none d-sm-table-cell">{{ user.authenticated }}</td>
            <td class="d-none d-md-table-cell">
              <code>{{ user.privileges }}</code>
            </td>
            <td class="d-none d-md-table-cell">
              <a href=""
                ><i class="far fa-edit" style="color: rgb(233, 25, 146);"></i
              ></a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
