<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-12">
      <div class="card">
        <div class="card-body">
          <span class="statistics-card-current-value"
            ><strong>{{ covidData.TotalConfirmed | number }}</strong></span
          >
          <i
            class="fas fa-vial fa-2x float-right"
            style="color: rgb(17, 187, 17);"
          ></i>
          <br />
          <span class="statistics-card-info"> Casos confirmados(PCR)</span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12">
      <div class="card">
        <div class="card-body">
          <span class="statistics-card-current-value"
            ><strong>{{ covidData.NewConfirmed | number }}</strong></span
          >
          <i
            class="fas fa-procedures fa-2x float-right"
            style="color: rgb(247, 89, 89);"
          ></i>

          <br />
          <span class="statistics-card-info"> Casos nuevos</span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12">
      <div class="card">
        <div class="card-body">
          <span class="statistics-card-current-value"
            ><strong>{{ covidData.TotalDeaths | number }}</strong></span
          >
          <i
            class="fas fa-skull-crossbones fa-2x float-right"
            style="color: rgb(63, 70, 63);"
          ></i>

          <br />
          <span class="statistics-card-info"> Defunciones Totales</span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12">
      <div class="card">
        <div class="card-body">
          <span class="statistics-card-current-value"
            ><strong>{{ covidData.NewDeaths | number }}</strong></span
          >
          <i
            class="fas fa-skull fa-2x float-right"
            style="color: rgb(233, 61, 61);"
          ></i>

          <br />
          <span class="statistics-card-info"> Últimas Defunciones 24Hrs</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9 col-lg-9 col-12">
      <div class="card">
        <div class="card-header">
          República Dominicana
        </div>
        <div class="card-body">
          <div id="map">
            <agm-map
              style="height: 500px;"
              [latitude]="latitude"
              [longitude]="longitude"
              [mapTypeId]="mapType"
              [styles]="styles"
            >
            </agm-map>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12">
      <div class="card">
        <div class="card-body">
          <span class="statistics-card-current-value"
            ><strong>{{ covidData.TotalRecovered | number }}</strong></span
          >
          <i
            class="fas fa-walking fa-2x float-right"
            style="color: rgb(103, 212, 231);"
          ></i>

          <br />
          <span class="statistics-card-info">Total Recuperados</span>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <span class="statistics-card-current-value"
            ><strong>{{ covidData.NewRecovered | number }}</strong></span
          >
          <i
            class="fas fa-walking fa-2x float-right"
            style="color: rgb(80, 224, 44);"
          ></i>

          <br />
          <span class="statistics-card-info">Recuperados Últimas 24Hrs</span>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          Curva de contagios
        </div>
        <div class="card-body" style="display: block;">
          <canvas
            baseChart
            [datasets]="auxLineChart.data"
            [labels]="auxLineChart.labels"
            [options]="auxLineChart.options"
            [legend]="auxLineChart.legend"
            [chartType]="auxLineChart.type"
          >
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>
