<div class="container">
  <div class="page-header">
    <h1 class="page-title">
      Listado de contacto cercanos por usuario
    </h1>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-12">
      <div class="card card-profile">
        <div
          class="card-header"
          style="
            background-image: url('https://cdn.nimbusthemes.com/2017/09/09233338/Free-Nature-Backgrounds-Sunset-by-Pixabay.jpg');
          "
        ></div>
        <div class="card-body text-center">
          <img class="card-profile-img" src="../../../assets/img/18.jpg" />
          <h3 class="mb-3">{{infected[0].nameInfected}}</h3>
          <div>
            <small
              ><cite title="San Francisco, USA"
                >Republica Dominicana, DO
                <i class="glyphicon glyphicon-map-marker"> </i></cite
            ></small>
            <p>
          <i class="glyphicon glyphicon-envelope"></i>{{infected[0].telInfected}}
              <br  />
              {{ infected[0].infectedId.substring(0,3) }}-{{ infected[0].infectedId.substring(3,10) }}-{{ infected[0].infectedId.charAt(infected[0].infectedId.length-1) }}
          
              <br />
              
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-md-8 col-12 justify-content-center">
      <div class="card">
        <div class="card-header">
          <h4>Contactos cercanos en los ultimos 15 días</h4>
        </div>
        <table class="table card-table table-vcenter ">
          <tr>
            <th class="w-1">ID Persona</th>
            <th class="w-1">Cedula</th>
            <th class="w-1">K vecinos</th>
            <th class="w-1">Probabilidad de contagio</th>
            <th class="d-none d-sm-table-cell">Status</th>
          </tr>
        
        
          <tr *ngFor="let infected of infected" >
            <td>{{infected.personId}}</td>
            <td >{{ infected.identifier.substring(0,3) }}-{{ infected.identifier.substring(3,10) }}-{{ infected.identifier.charAt(infected.identifier.length-1) }}</td>
            <td class="d-none d-sm-table-cell">{{infected.k}}</td>
            <td class="d-none d-md-table-cell">
              {{infected.probabilityOfInfection |  number : '1.2-2'}}%
            </td>
            <td class="d-none d-md-table-cell" *ngIf="infected.probabilityOfInfection > 2">
              <a
                ><i class="fas fa-circle" style="color: rgb(235, 19, 19);"> </i
                >Peligro
              </a>
            </td>
            <td class="d-none d-md-table-cell" *ngIf="infected.probabilityOfInfection < 2">
              <a
                ><i class="fas fa-circle" style="color: rgb(255, 243, 80);"> </i
                >Precaucion
              </a>
            </td>
          </tr>
        </table>
      </div>
      <div class="card">
        <div class="card-header">
          <h4>Lugares visitados en los ultimos 15 dias</h4>
        </div>

        <table class="table card-table table-vcenter">
          <tr>
            <th>Id.</th>
            <th>Localidad</th>
            <th>Provincia</th>
          </tr>
          <tr
            *ngFor="let locality of nodeDistribution"
            routerLink="/dashboard/locality/{{ locality.id }}"
          >
            <td>#{{ locality.id }}</td>
            <td>{{ locality.name }}</td>
            <td>{{ locality.province }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<!--
   <div class="card">
        <div class="card-header">
          <h5>Cadena de contagio del usuario Some User</h5>
        </div>
        <div class="card-body mr-auto ml-auto">
          <div class="tree">
            <ul>
              <li>
                <a href="#"
                  ><i class="fas fa-male fa-2x" style="color: blue;"></i
                ></a>
                <ul>
                  <li>
                    <a href="#"
                      ><i
                        class="fas fa-female fa-2x"
                        style="color: palevioletred;"
                      ></i
                    ></a>
                    <ul>
                      <li>
                        <a href="#"
                          ><i class="fas fa-male fa-2x" style="color: blue;"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#"
                          ><i
                            class="fas fa-female fa-2x"
                            style="color: palevioletred;"
                          ></i
                        ></a>
                      </li>
                      <li>
                        <a href="#"
                          ><i
                            class="fas fa-female fa-2x"
                            style="color: palevioletred;"
                          ></i
                        ></a>
                        <ul>
                          <li>
                            <a href="#"
                              ><i
                                class="fas fa-male fa-2x"
                                style="color: blue;"
                              ></i
                            ></a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#"
                      ><i class="fas fa-male fa-2x" style="color: blue;"></i
                    ></a>
                    <ul>
                      <li>
                        <a href="#"
                          ><i
                            class="fas fa-female fa-2x"
                            style="color: palevioletred;"
                          ></i
                        ></a>
                      </li>
                      <li>
                        <a href="#"
                          ><i class="fas fa-male fa-2x" style="color: blue;"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#"
                          ><i class="fas fa-male fa-2x" style="color: blue;"></i
                        ></a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
-->
