<div *ngIf="state === false">
  <app-spinner></app-spinner>
</div>
<div class="container-fluid">
  <div class="row">
    
    <div class="col-md-3 col-12">
      <app-info-card
        data="{{ statistics?.messageReceivedNodes }}"
        subject="Mensajes recibidos en los nodos"
        icon="far fa-paper-plane fa-2x float-right"
        color="#128BF1">
    </app-info-card>
    </div>
    <div class="col-md-3 col-12">
      <app-info-card
        data="{{ statistics?.messageReceivedNodesToday }}"
        subject="Mensajes recibidos en los nodos hoy"
        icon="far fa-paper-plane fa-2x float-right"
        color="#E65959">
      </app-info-card>
    </div>
    <div class="col-md-3 col-12">
      <app-info-card
        data="{{ statistics?.notificationsSent }}"
        subject="Notificaciones enviadas"
        icon="far fa-bell fa-2x float-right"
        color="#6FB53A">
      </app-info-card>
    </div>
    <div class="col-md-3 col-12">
      <app-info-card
          data="{{ statistics?.notificationsSentToday }}"
          subject="Notificaciones enviadas hoy"
          icon="far fa-bell fa-2x float-right"
          color="#F3BD21">
      </app-info-card>
      </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-9 col-md-9 col-lg-9">
      <div class="card">
        <h5 class="card-header">Casos confirmados a lo largo del tiempo</h5>

        <div class="card-body" style="display: block;">
          <canvas
            baseChart
            [datasets]="auxBar.data"
            [labels]="auxBar.labels"
            [options]="auxBar.options"
            [legend]="auxBar.legend"
            [chartType]="auxBar.type"
            height="69"
          >
          </canvas>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12">
      <app-info-card
          data="{{ statistics?.registeredTest }}"
          subject="Test Registrados"
          icon="fas fa-syringe fa-2x float-right"
          color="#217FF3">
      </app-info-card>
      <app-info-card
            data="{{ statistics?.nodeRegistered }}"
            subject="Nodos Registrados"
            icon="fab fa-linode fa-2x float-right"
            color="#5EB128">
        </app-info-card>
        <app-info-card
            data="{{ statistics?.confirmedCases }}"
            subject="Casos Confirmados"
            icon="fas fa-head-side-virus fa-2x float-right"
            color="#C32F16">
        </app-info-card>
         
      </div>
       
    
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <h5 class="card-header">Casos confirmados según sexo</h5>

        <div class="card-body" id="card-sex-cases">
          <div style="display: block;">
            <canvas
              baseChart
              [data]="auxDoughnut.data"
              [labels]="auxDoughnut.labels"
              [chartType]="auxDoughnut.type"
              [options]="auxDoughnut.options"
              height="245px"
            >
            </canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-8 col-md-8">
      <div class="card">
        <div class="card-body">
          <div id="map">
            <agm-map
              style="height: 400px;"
              [latitude]="latitude"
              [longitude]="longitude"
              [mapTypeId]="mapType"
              (mapClick)="placeMarker($event)"
            >
            <agm-marker *ngFor="let location of locations"
            [latitude]="location.gpsLocation.latitude"
            [longitude]="location.gpsLocation.longitude"
            
            [visible]="true">
        </agm-marker>
            </agm-map>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-12">
      <div class="card">
        <h5 class="card-header">
          Casos nuevos, acumulados y recuperados de COVID-19 según fecha de
          reporte
        </h5>

        <div class="card-body" style="display: block;">
          <canvas
            baseChart
            [datasets]="auxLineChart.data"
            [labels]="auxLineChart.labels"
            [options]="auxLineChart.options"
            [legend]="auxLineChart.legend"
            [chartType]="auxLineChart.type"
            height="69"
          >
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>
