<div *ngIf="!state">
    <app-spinner></app-spinner>
  </div>
  <div class="container-fluid" *ngIf="state">
    <div class="page-header">
      <h1 class="page-title">
        Lista usuarios con posibilidad de contagio
      </h1>
      
    </div>
    <div class="row row-cards">
        <div class="col-12" *ngIf="error">
          <div class="alert alert-danger" role="alert">
            {{ error }}
          </div>
          
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
          <app-search-form title="Cédula" component="infected-users" mask="000-0000000-0"></app-search-form>
        </div>

        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
          <div class="card">
            <table class="table card-table table-vcenter">
              <tr>
               
                <!-- <th class="d-none d-sm-table-cell">Nombre Completo</th> -->
                <th class="w-1">ID Persona</th>
                <th class="w-1">Cedula</th>
                <th class=" ">Fecha PRC</th>
                
              </tr>
              <tr *ngFor="let infected of infected" 
              routerLink="/dashboard/infection-tree/{{infected.personId}}">
              
                <!-- <td class="d-none d-sm-table-cell">{{ user.name }}</td> -->
                <td>{{infected.personId}}</td>
                <td>{{ infected.identifier }}</td>
                <td>{{ infected.healthTestDate }}</td>
              </tr>
            </table>
          </div>
          <ngb-pagination  [collectionSize]="pageNumber*10" [(page)]="page" (pageChange)="getEvent($event)" aria-label="Default pagination"></ngb-pagination>
        </div>


</div>
